@use '@/components/styles/generalInputs.module.scss' as *;

.container {
    @include input-general-styles;

    .containerInputError{
        .containerInput{
            height: 35px;
            width: fit-content;
            padding-inline: 10px;

            .inputElement{
                flex: 1;
                width: 100%;
            }
        }
    }
}