@use "./generals.module.scss" as *;

@mixin input-general-styles {
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    position: relative;

    .title{
        font-family: OpenSansSemiBold;
        font-size: 1.3rem;
    }

    .containerInputError {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;

        .containerInput {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            overflow: hidden;
            border: 1px solid #000;
            gap: 0.5rem;
            position: relative;
            width: 100%;

            .inputElement {
                font-size: 1.3rem;
                padding: 5px 10px;
                border: 0;
                outline: none;
                background-color: transparent;
                position: relative;
            }

            &:focus-within {
                border-width: 2px;
            }
        }

        .errorMessage {
            font-family: OpenSansSemiBold;
            font-size: 1.1rem;
            color: #ff0000;
            position: absolute;
            top: 105%;

            // Coloca ... si el texto no cabe en 2 lineas
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
        }
    }

    .icon {
        font-size: 2rem;
        color: #000;

        * {
            color: inherit;
        }
    }

    .containerCustomIcon {
        height: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        & > * {
            height: 95%;
            width: auto;
        }
    }
}
