@use './generals.module.scss' as *;

@mixin input-general-styles{
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;

    label{
        font-family: OpenSansSemiBold;
        font-size: 1.4rem;
    }

    .containerInputError{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .containerInput{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            overflow: hidden;
            border: 1px solid #000;
            padding-inline: 10px;
            gap: .5rem;
            height: 35px;
            width: 250px;

            .inputElement{
                font-size: 1.3rem;
                padding: 5px 10px;
                border: 0;
                outline: none;
                flex: 1;
                width: 100%;
                flex: 1;
                background-color: transparent;
            }
            
            .icon{
                font-size: 2rem;
                color: #000;

                *{
                    color: inherit;
                }
            }

            .containerCustomIcon{
                height: 100%;
                aspect-ratio: 1/1;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                & > * {
                    height: 95%;
                    width: auto;
                }
            }

            &:focus-within{
                border-width: 2px;
            }
        }

        .errorMessage{
            font-family: OpenSansSemiBold;
            font-size: 1.1rem;
            color: #ff0000;
        }
    }
}