@use "../../../components/styles/generalInputs.module.scss" as *;

.container {
    @include input-general-styles;

    .containerLabel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: fit-content;
        gap: 0.5em;

        label {
            font-family: OpenSansSemiBold;
            font-size: 1.3em;
        }
    }

    .containerInputError {
        width: 100%;

        .containerGroupRadio {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            width: 100%;
            padding: 10px;

            .containerRadio {
                width: auto;
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 0.5em;
                position: relative;
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover {
                    opacity: 0.5;
                }

                label {
                    font-size: 1.4em;
                    font-family: OpenSansSemiBold;
                    cursor: pointer;
                }

                .inputElement {
                    cursor: pointer;
                }

                .containerCustomIcon {
                    height: 2em;
                    max-height: 6em !important;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    cursor: pointer;
                }
            }
        }
    }
}
